<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GM</key>
	<array>
		<dict>
			<key>Model</key>
			<string>Cruze</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>gm_1_cruze.jpg</string>
			<key>Description</key>
			<string>This car is best used for cruising.</string>
		</dict>
		<dict>
			<key>Model</key>
			<string>Malibu</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>gm_2_malibu.jpg</string>
			<key>Description</key>
			<string>This car is best used in Los Angelos County.</string>
		</dict>
		<dict>
			<key>Model</key>
			<string>Spark</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>gm_3_spark.jpg</string>
			<key>Description</key>
			<string>This car is best used for flying keys attached to kites.</string>
		</dict>
	</array>
	<key>Ford</key>
	<array>
		<dict>
			<key>Model</key>
			<string>Fiesta</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>fd_1_fiesta.jpg</string>
			<key>Description</key>
			<string>Siempre es tiempo de fiesta!</string>
		</dict>
		<dict>
			<key>Model</key>
			<string>Fusion</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>fd_2_fusion.jpg</string>
			<key>Description</key>
			<string>Should be implemented with a dance or earrings.</string>
		</dict>
		<dict>
			<key>Model</key>
			<string>Focus</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>fd_3_focus.jpg</string>
			<key>Description</key>
			<string>Optimized with 50mg of Adderall.</string>
		</dict>
	</array>
    <key>Incom</key>
	<array>
		<dict>
			<key>Model</key>
			<string>Z-95 Headhunter</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>in_1_headhunter.jpg</string>
			<key>Description</key>
			<string>Most of the buttons do helpful things.</string>
		</dict>
		<dict>
			<key>Model</key>
			<string>T-65 X-Wing</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>in_2_xwing.jpg</string>
			<key>Description</key>
			<string>The bane of every Death Star.</string>
		</dict>
		<dict>
			<key>Model</key>
			<string>Aggressive ReConnaissance-170</string>
			<key>Rating</key>
			<integer>0</integer>
			<key>Image</key>
			<string>in_3_arc170.jpg</string>
			<key>Description</key>
			<string>No longer just for clones!</string>
		</dict>
	</array>

</dict>
</plist>
