<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MovieTitle</key>
	<array>
		<string>The Golden Compass</string>
		<string>X-Men</string>
		<string>The Princess Bride</string>
	</array>
	<key>MovieRating</key>
	<array>
		<string>✩</string>
		<string>✩✩</string>
		<string>✩✩✩</string>
	</array>
</dict>
</plist>
